<div class="container">
  <button class="addbutton" [routerLink]="'new'" >Add a new Movie</button>
  <h2>Movie List</h2>
  <table class="table">
    <tr>
      <th class="title">Movie Title</th>
      <th class="action">Available Action</th>
      <th>Average Rating</th>
    </tr>
    <tr *ngFor="let movie of movies">
      <td>{{movie['name']}}</td>
      <td><a href="/movies/{{movie['_id']}}"><button>Details</button></a>  <a href="/movies/{{movie['_id']}}/review"><button>Write Review</button></a></td>
      <td>{{movie['averageRating']}}</td>
    </tr>

  </table>
</div>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
