.container{
    margin: 20px 10px 20px 70px;
    width: 60%;
    padding: 20px;
    display: inline-block;
    position: relative;
    vertical-align: top;

}
.outlet{
    width: 25%;
    padding: 20px;
    display: inline-block;
    margin: 20px;
    vertical-align: top;

}

.table{
    margin: 10px 10px 10px 50px;
}


th, td{
    border: 1px solid silver;
    padding: 5px;
}

.name{
    width: 100px;
}
.rating{
    width: 20px;
}
.content{
    width: 300px
}
.addbutton{
    position: absolute;
    right: 10px;
    top: 50px;
}