td{
    width: 120px;
}
.textbox{

}
textarea{
    width: 127px;
    height: 30px;
    resize: none;
    border: 1px solid silver;
}
.rightA{
    text-align: right;
}

.error{
    height: 100px;
}

p{
    margin: 0;
    color: red;
    font-size: 14px;
}
.longer{
    width: 200px;
}
.nameD{
    width: 50px;
}
.inputD{
    width: 100px;
}